<div id="fieldPreviewBoxLeft">
  <p class="previewBoxTitle">Activity<span><%= link_to 'Change', '', id: 'activityChangeLink' %></span></p>
  <p id="previewBoxActivity">Biking</p>
</div>
<div id="fieldPreviewBoxRight">
  <p class="previewBoxTitle">Calories Burned<span>estimate</span></p>
  <p id="previewBoxCalorie">1190</p>
</div>
<%= form_for @workout, html: {class: 'form', id: 'workoutForm'} do |f| %>
  <h1 class="formHeader"><%= @workout.new_record? ? "Add" : "Edit" %> Workout</h1>
  <% if @workout.errors.any? %>
    <div class="formErrors">
      <ul class="errorList">Form Errors:
        <% @workout.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div><br/>
  <% end %>

  <% if params[:action] == "new" %>
    <div id="workoutActivityFields">
      <div class="formField">
        <%= f.label :activity_id, 'Select an Activity' %>
        <%= f.select :activity_id, Activity.all.map{|activity| [activity.name, activity.id]}, {include_blank: true}, {class: 'chosen-select'} %>
        <p class="fieldErrorMsg">You must select an activity.</p>
      </div><br/>

      <%= link_to "Continue #{loader_anim}".html_safe, '', id: 'workoutDetailFieldsLink' %>
    </div>
  <% else %>
    <%= f.hidden_field :activity_id, value: @workout.activity_id %>
  <% end %>
  <%= hidden_field_tag :met, @workout.activity.present? ? @workout.activity.met : 0, id: 'metValue' %>

  <div id="workoutDetailFields" style="<%= 'display:none;' if params[:action] == "new" %>">
    <div class="formField">
      <%= f.label :date, 'Date' %>
      <div class="fieldWrapper"><%= f.text_field :date, value: date_field_value(@workout, params[:workout]) %></div>
    </div><br/>

    <div class="formField">
      <%= f.label :time, 'Time' %>
      <div class="hoursFieldWrapper">
        <div class="fieldWrapper"><%= text_field_tag "workout[time][hours]", time_field_value(@workout, params[:workout], :hours), placeholder: '00' %></div> <%= label_tag 'workout[time][hours]', "Hours" %>
      </div><span class="timeSeparator">:</span><!--
   --><div class="minutesFieldWrapper">
        <div class="fieldWrapper"><%= text_field_tag "workout[time][minutes]", time_field_value(@workout, params[:workout], :minutes), placeholder: '00' %></div> <%= label_tag 'workout[time][minutes]', "Minutes" %>
      </div><span class="timeSeparator">:</span><!--
   --><div class="secondsFieldWrapper">
        <div class="fieldWrapper"><%= text_field_tag "workout[time][seconds]", time_field_value(@workout, params[:workout], :seconds), placeholder: '00' %></div> <%= label_tag 'workout[time][seconds]', "Seconds" %>
      </div>
    </div><br/>

    <div class="formField">
      <div class="distanceFormField">
        <%= f.label :distance, "Distance" %>
        <div class="fieldWrapper"><%= text_field_tag "workout[distance][value]", distance_field_value(@workout, params[:workout]), id: 'workout_distance' %></div>
      </div>
      <div class="unitsFormField">
        <%= label_tag "workout[distance][units]", "Units" %>
        <div class="selectWrapper"><%= select_tag "workout[distance][units]", options_for_select([["Miles", "mi"], ["Feet", "ft"], ["Kilometers", "km"], ["Meters", "m"]], distance_units_field_value(params[:workout])) %></div>
      </div>
    </div><br/>

    <div class="formField">
      <div class="weightsFormField">
        <%= f.label :weight, "Weight" %>
        <div class="fieldWrapper"><%= text_field_tag "workout[weight][value]", weight_field_value(@workout, params[:workout]), id: 'workout_weight' %></div>
      </div>
      <div class="unitsFormField">
        <%= label_tag "workout[weight][units]", "Units" %>
        <div class="selectWrapper"><%= select_tag "workout[weight][units]", options_for_select([["Pounds", "lb"], ["Kilograms", "kg"]], weight_units_field_value(params[:workout])) %></div>
      </div>
    </div><br/>

    <div class="formField">
      <%= f.label :note %>
      <div class="textAreaWrapper"><%= f.text_area :note %></div>
    </div><br/>

    <div class="formSubmit">
      <%= f.submit %>
    </div>
  </div>
<% end %>
<%= javascript_include_tag params[:contoller] %>