<div class="center">
  <%= form_for @user, url: password_reset_path(params[:id]), html: {class: 'form'} do |f| %>
    <% if @user.errors.any? %>
      <div class="formErrors">
        <ul class="errorList">Form Errors:
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div><br/>
    <% end %>

    <h1 class="formHeader">Reset Password</h2>

    <div class="formField">
      <%= f.label :password %>
      <div class="fieldWrapper"><%= f.password_field :password %></div>
    </div>

    <div class="formField">
      <%= f.label :password_confirmation %>
      <div class="fieldWrapper"><%= f.password_field :password_confirmation %></div>
    </div>

    <div class="formSubmit">
     <%= f.submit "Update Password" %>
    </div>
  <% end %>
</div>