<%= form_for @new_faq, url: url_for(controller: 'faq', action: 'create'),  method: :post, html: {class: 'adminForm', id: 'newFaq'} do |f| %>
  <h1 class="formHeader">New FAQ</h1>
  <% if @new_faq.errors.any? %>
    <div class="formErrors">
      <ul class="errorList">Form Errors:
        <% @new_faq.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div><br/>
  <% end %>
  <div class="formField">
    <%= f.label :question %><br/>
    <%= f.text_field :question %>
  </div>
  <div class="formField">
    <%= f.label :answer %><br/>
    <%= f.text_area :answer %>
  </div>
  <%= f.hidden_field :position, value: (Faq.maximum(:position) || 0) + 1 %>
  <div class="formSubmit"><%= f.submit "Add FAQ" %> or <%= link_to 'Cancel', '', class: 'formClose' %></div>
<% end %>
