<%= form_for @activity, html: {class: 'form'} do |f| %>
  <h1 class="formHeader"><%= @activity.new_record? ? "Add" : "Edit" %> Activity</h1>
  <% if @activity.errors.any? %>
    <div class="formErrors">
      <ul class="errorList">Form Errors:
        <% @activity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div><br/>
  <% end %>
  <div class="formField">
    <%= f.label :name %>
    <div class="fieldWrapper"><%= f.text_field :name, value: @activity[:name] %></div>
  </div><br/>
  <div class="formField">
    <%= f.label :short_name, 'Short Name' %>
    <div class="fieldWrapper"><%= f.text_field :short_name, value: @activity[:short_name] %></div>
  </div><br/>
  <div class="formField">
    <%= f.label :met %>
    <div class="fieldWrapper"><%= f.text_field :met, value: @activity[:met] %></div>
  </div><br/>
  <div class="formField">
    <%= f.label :description %>
    <div class="textAreaWrapper"><%= f.text_area :description, value: @activity[:description] %></div>
  </div><br/>
  <div class="formSubmit"><%= f.submit %></div>
<% end %>