<!DOCTYPE html>
<html>
<head>
  <title>MyCardioPal</title>
  <%= stylesheet_link_tag    "application-all", :media => "all" %>
  <%= stylesheet_link_tag    "application-print", :media => "print" %>
  <!--[if lte IE 8]>
  <%= stylesheet_link_tag "font-ie", media: 'all' %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <!--[if lte IE 9]>
  <%= javascript_include_tag "placeholder" %>
  <![endif]-->
  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <div id="header">
      <div id="logoWrapper">
        <%= link_to root_path, id: 'logo' do %>
          <span id="logoLeftSect">My</span><span id="logoMiddleSect">Cardio</span><span id="logoRightSect">Pal</span>
        <% end %>
      </div>
      <div id="mainNav">
        <ul id="rightNav">
          <% if current_user.present? %>
            <li class="leftNavLink"><%= link_to "My Profile", profile_path %></li>
            <li class="rightNavLink"><%= link_to "Logout", logout_path, method: :delete %></li>
          <% else %>
            <li class="leftNavLink"><%= link_to "Sign-Up", sign_up_path, id: 'signUpLink' %></li><!--
         --><li class="rightNavLink"><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% if flash[:alert] -%>
      <p class='alert'><%=h flash[:alert] %></p><br/>
    <% end -%>
    <% if flash[:notice] -%>
      <p class='notice'><%=h flash[:notice] %></p><br/>
    <% end -%>
    <div id="body">
      <%= yield %>
    </div>

    <div id="footer"></div>
  </div>

</body>
</html>
