<!DOCTYPE html>
<html>
<head>
  <title>MyCardioApp</title>
  <%= stylesheet_link_tag    "application-all", :media => "all" %>
  <%= stylesheet_link_tag    "application-print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <div id="header">
      <div id="logoWrapper"><%= image_tag('logo.png') %></div>
      <div id="mainNav">
        <ul id="rightNav">
          <li class="leftNavLink"><%= link_to "Sign-Up", '', id: 'signUpLink' %></li><!--
       --><li class="rightNavLink"><%= link_to "Login" %></li>
        </ul>
      </div>
    </div>

    <div id="body">
      <%= yield %>
    </div>

    <div id="footer"></div>
  </div>

</body>
</html>
